@import url(reset.css);
@import url(common.css);

/* top main */
/* top-main */
.top-main{
    padding-top: 80px;
    width: 100%;
    height: 100vh;
    
    background-image: url(../img/aboutus/Rectangle\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    opacity: 80%;
}
.tpcontent{
    
    text-align: center;
    position: absolute;
    z-index: 5;
    width: 40%;
    top: 40%; 
    margin-left: 350px;
   
}

.tpcontent h1{
    /* opacity: 100%; */
    font-weight: bolder;

}

.tpcontent h3{
    margin-top: 50px;
    font-weight: bold;
}

/* clerk  */
.clerk{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
}
.intro{
    margin: 0 50px;
    padding-bottom: 20px;
}

.intro img{
    width: 200px;
    padding-bottom: 10px;
    border-bottom: 5px solid orange;
}

.intro h3{
    font-weight: bold;
}
/* mid content */
.mid{
    background-color: #FFF4D8;
}

.mid h4{
    border-bottom: 5px solid orange;
    font-size: 18px;
    padding-bottom: 5px;
}

.mid >div{
    margin: auto;
    width: 1200px;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid white;
}
.mid-content{
    width: 300px;
    padding: 50px;
    

}

.pic{
    width: 600px;
    height: 400px;
    background-image: url('../img/aboutus/bottom/mid-hotel.jpg');
    margin: auto;
    transition: background-image 0.5s;
    background-repeat: no-repeat;
    background-size: cover;
}



.his{
    width: 300px;
    padding: 50px;
}

.mid p{
    text-align: left;
    padding-top: 10px;
    font-size: 12px;
}

.mid ul{
    text-align: left;
    padding-top: 30px;
}
/* slider */
.sli-bg{
    background-color: #FFF4D8;
}
#slider{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 560px;
    margin: auto;

}
#indicator{
    
    margin: 0;
    list-style: none;
    margin-top: 20px;
    width: 500px;
    height: 100px;
    margin-left: auto;
    margin-right:auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(74, 72, 72);
    
    padding-bottom: 10px;
    margin-top: 0;

}
#indicator li{
    width: 100px;
    height: 75px;
    display: block;
    float: left;
    margin-right: 10px;
}
#indicator li img{
    max-width: 100%;
    border: 2px solid wheat;
}
#slider .left{
    margin-left: 0;
    background-color: lightgray;
    margin: auto;
    width: 30px;
    height: 75px;
    display: flex;
    border: none;
    align-items: flex-end;
}
.left svg{
    width: 30px;
    margin: auto; 
}

#slider .right{
    margin-left: 0;
    margin: auto;
    width: 30px;
    height: 75px;
    background-color: lightgray;
    display: flex;
    border: none;
}

.right svg{
    margin: auto;
    width: 30px;
}

.left:hover{
    background-color: white;
}

.right:hover{
    background-color: white;
}
/* bot-img */
.bot-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #777777;
    background-color: #f7e8c2;
    padding-top: 80px;
    padding-bottom: 80px;
}
.bot-img img{
    width: 500px;
}
.bot-img h4{
    width: 400px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    color: #48684e;
    
}

.bot-img p{
    display: block;
    width: 500px;
    text-align: center;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;

}
.bot-img-content{
    background-color: rgb(249, 233, 214);
}
.bot-img .one{
    /* background-color: rgb(249, 233, 214); */
    display: flex;
    padding-bottom: 80px;
    padding-top: 40px;
    border-bottom: 2px solid orange;
    border-left: 2px solid orange;
    padding-left: 20px;
}

.bot-img .two{
    
    display: flex;
    padding-bottom: 80px;
    padding-top: 40px;
    border-bottom: 2px solid orange;
    border-right: 2px solid orange;
    padding-right: 20px;
}
.two .bot-img-content{
    order: -1;
}
/* map */
.contact{
    display: flex;
    text-align: center;
    width: 1100px;
    margin: auto;
}
.contact h4{
    margin-top: 20px;
    color: #48684e;
}

.contact p{
    color: #777777;
    margin-top: 10px;
    line-height: 1.8;
}

.map{
    margin: auto;
    width: 500px;
    margin-top: 10px;
    border-top: 5px solid orange;
    padding-top: 50px;
    padding-bottom: 50px;
}

.map-pic{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    width: 300px;
}
.map-pic img{
    height: 200px;
}

.iframe{
    margin: auto;
}
