body{
    font-size: 18px;  
    line-height: 1.6; 
    background-color: #f9f4ee;
    
}

h1{
    font-size: 64px;
}

h2{
    font-size: 48px;
}

h3{
    font-size: 25px;
}
h4{
    font-size: 18px;
    font-weight: bold;
}
h6{
    font-size: 15px;
}
li{
    font-size: 15px;
}
#header li{
    font-size: 18px;
}

p{
    font-size: 15px;
}
li{
    display: block;   
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;   
}

.btn1{
    font-size: 24px;
    border: 1px solid;
    border-radius: 25px;
    background-color: #DC9731;
}

/* header */
#header{
    position: fixed;
    width: 100%;
    background-color: white;
    height: 80px;
    z-index: 100; 
    box-shadow: 1px 2px 1px gray;   
}

.nav a{
    height: 100%;
    width: 100%;
    line-height: 80px;
}

.nav {
    float: right;
    margin-right: 50px;
}

#membership{
    float: right;
}

.nav li{
    float: left;
    width: 105px;
    text-align: center;
    /* margin-top: 10px; */
    box-sizing: border-box;
}
    

#trbtn{
    border-left: 1px solid lightsalmon;
    border-right: 1px solid lightsalmon;
    background-color: #DC9731;    
}



.tlogo{
    float: left;
    height: 150px;
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
}

#trbtn:hover{
    background-color: rgb(244, 199, 133);
}
#trbtn a:hover{
    color: white;
}
.nav a:hover{
    color: orange;
}

.btn1:hover{
    background-color: #ec930e;
    color: white;
}


/* footer */
.footer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #F9F1DF;
}

.footer img{
    width: 130px;
    padding-left: 28px;
}

.footer ul{
    display: flex;
}
.footer li{
    padding: 10px;
}

.contact{
    display: flex;
}

.footer .contact img{
    width: 30px;
    padding-left: 10px;
    padding-right: 10px;
}