body{
    font-size: 18px;  
    line-height: 1.6; 
    background-color: #f9f4ee;
    
}

h1{
    font-size: 64px;
    font-weight: bold;
    color: #48684e;
    
}

h2{
    font-size: 48px;
    font-weight: bold;
    color: #48684e;
}

h3{
    font-size: 25px;
    font-weight: bold;
    color: #48684e;
}
h4{
    font-size: 22px;
    font-weight: bold;
    color: #48684e;
}
h6{
    font-size: 16px;
    font-weight: bold;
    color: #48684e;
}
li{
    font-size: 16px;
    color: #777777;
    font-weight: 600;
}
.hotitem li{
    color: black;
}
.itembox li{
    color: black;
}
#header li{
    font-size: 18px;
}

p{
    font-size: 16px;
    color: #777777;
    font-weight: 600;
}
li{
    display: block;   
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;   
}

.btn1{
    display: inline-block;
    margin: 30px;
    margin-top: 40px;
    font-size: 24px;
    border: 1px solid;
    width: 120px;
    height: 60px;
    line-height: 60px;
    border-radius: 25px;
    background-color: #f1daa0;
}


.btn1:hover{
    background-color: #ec930e;
    color: white;
}

/* header */
#header{
    position: fixed;
    width: 100%;
    background-color: white;
    height: 80px;
    z-index: 100; 
    box-shadow: 1px 2px 1px gray;
     
}

.nav a{
    height: 100%;
    width: 100%;
    line-height: 80px;
    font-size: 20px;
}

.nav {
    float: right;
    margin-right: 50px;
}

#membership{
    float: right;
}

.nav li{
    float: left;
    width: 105px;
    text-align: center;
    /* margin-top: 10px; */
    box-sizing: border-box;
}
    

#trbtn{
    border-left: 1px solid lightsalmon;
    border-right: 1px solid lightsalmon;
    background-color: #DC9731;    
}

.trbtn{
    border-left: 1px solid lightsalmon;
    border-right: 1px solid lightsalmon;
    background-color: #DC9731;    
}




.tlogo{
    float: left;
    height: 150px;
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
}

#trbtn:hover{
    background-color: rgb(244, 199, 133);
}
#trbtn a:hover{
    color: white;
}
.nav a:hover{
    color: orange;
}

.btn1:hover{
    background-color: #ec930e;
    color: white;
}


/* footer */
.footer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #F9F1DF;
}

.footer img{
    width: 130px;
    padding-left: 28px;
    padding-top: 10px;
}

.footer ul{
    display: flex;
}
.footer li{
    padding: 10px;
}

.contact{
    display: flex;
}
.contact a:nth-child(2){
    padding-top: 10px;
}

.footer .contact img{
    width: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.ww{
    font-size: 10px;
    width: 800px;
}

.nav-list .fa{
    display: none;
}


/* rwd */
@media screen and (max-width: 414px){
    /* nav */
   
    /* nav */
    h2{
        font-size: 28px;
    }
    h1{
        font-size: 36px;
    }
    h3{
        font-size: 24px;
        
    }
    h4{
        font-size: 20px;
    }
    h5{
        font-size: 16px;
    }
    h6{
        font-size: 16px;
    }
    p{
        font-size: 12px;
    }
    li{
        font-size: 12px;
    }
    a{
        font-size: 12px;
    }
    

   
    .btn1{
        display: block;
        margin: auto;
        margin-top: 20px;
        font-size: 12px;
        line-height: 40px;
        width: 80px;
        height: 40px;
        
    }

    .footer img{
        width: 50px;
        padding-left: 10px;
        padding-top: 5px;
    }
    .footer span{
        
        font-size: 12px;
    }
    .ww{
        width: 100%;
        font-size: 12px;
    }
    .footer li {
        padding: 5px;
    }

}