@import url(reset.css);
@import url(common.css);

/* top-main */
.top-main{
    padding-top: 80px;
    width: 100%;
    height: 100vh;
    
    background-image: url(../img/firstpage/topbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    opacity: 100%;
    color: #777777;
    
}
.tpcontent{
    
    text-align: center;
    position: absolute;
    z-index: 5;
    width: 40%;
    top: 40%; 
   
}

.tpcontent h1{
    /* opacity: 100%; */
    font-weight: bolder;

}

.tpcontent h3{
    margin-top: 100px;
    font-weight: bold;
}

/* comment */

.comment{
    color: #777777;
    margin: auto;
    width: 800px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 3px 3px 2px black;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #FFF4D8;
    margin-right: 20px;
}

.comment h4{
    color: #48684e;
    margin-bottom: 15px ;

}

.comment p{
    margin-bottom: 50px;
   
}

.comment-out{
    height: 250px;
    width: 800px;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.comment-in{
    position: absolute;
    display: flex;  
}
.changecmt{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
}

.changecmt-btn{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    margin: 10px;
    border: 1px solid lightgray;
    background-color: #f1daa0;
    
   
}

.changecmt-btn:hover{
    background-color: #ec930e;
}

/*  */

.live{
    margin: 0 auto;
    text-align: center;
    width: 300px;
    margin-bottom: 10px;
    
}

.live a{
    color: black;
    display: inline;
}

/* main */
.check-in{
    width: 1200px;
    margin: auto;
    padding-top: 30px;
    display: flex;
    justify-content: center ;
    /* align-items: center; */
    background-color: #FFF4D8;

}

.check-in img{
    width: 550px;
    height: 350px;
    padding-right: 20px;
}
/* carry */
.bag{
    width: 1200px;
    margin: auto;
    padding-top: 0;
    display: flex;
    justify-content: center ;
    /* align-items: center; */
    background-color: #FFF4D8;
}
.bag img{
    width: 550px;
    height: 350px;
    order: 2;
    padding-left: 20px;
}



/* eat */

.eat{
    width: 1200px;
    margin: auto;
    padding-top: 30px;
    display: flex;
    justify-content: center ;
    /* align-items: center; */
    background-color: #FFF4D8;
}

.eat img{
    width: 550px;
    height: 350px;
    padding-right: 20px;
}
/* main-text */

.main-text{
    width: 550px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    text-align: center;
    
}

.main-text h2{
    
    color: #48684e;
}

.main-text p{
    text-align: left;
    padding-left: 50px;
}

.main-text ul{
    margin-top: 50px;
}
/* service */
.service{
    margin: auto;
    padding-top: 50px;
    width: 1200px;
    height: 385px;
    background-color: #FFF4D8;
    border-bottom: 2px solid black;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    text-align: center;
    position: relative;
}
.service h2{
    color: #48684e;
    padding-top: 20px;
    font-weight: bold;
}
.service ul{
    margin: auto;
    margin-bottom: 20px;
    padding-top: 20px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    display: flex;
    justify-content: center ;
    text-align: center;
    width: 1280px;
    
}
.service li{
    margin: 0 10px;
    
}

.service li a{
    color: #48684e;
}
.service img{
    width: 170px;
    height: 170px;
    border: 1px solid lightsalmon;
    border-radius: 50%;
}

.on-sales{
    position: absolute;
    background: linear-gradient(268.9deg, #F4D992 6.38%, #F45E4A 97.6%);
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    width: 400px;
    height: 80px;
    line-height: 80px;
    font-size: 36px;
    font-weight: bold;  
    bottom: -40px;
    left: 0;
    right: 0;
    margin:  auto;
    color: #48684e;

    text-shadow: 1px 1px white;
    
}

/* hotitems */
.hotitem{
    height: 310px;
    /* background-color: palevioletred; */
    margin: auto;
    margin-top: 100px;
    display: flex;
    text-align: left;
    position: relative;
    overflow: hidden;
    
   
}
.hotitem ul{
    display: flex;
    justify-content: center ;
    position: absolute;
}

.hotitem li{
    border: 1px solid lightgray;
    margin-left: 10px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
    /* border: 1px solid black; */
    background-color: #fff;
    width: 200px;
    height: 300px;
    position: relative;
    box-sizing: border-box;
}

.hotitem img{
    padding: 10px 20px;
    margin: auto;
    display: block;
    height: 171px;
    
}

.itemin{
    padding-left: 15px;
    width: 180px;
    background-color: #fff;
    border-top: 1px solid black;
   
   
}

.hotitem p{
    font-size: 18px;
    color: #F45E4A;
    position: absolute;
    /* right: 5px; */
    bottom: 5px;
    display: block;
    text-align: center;
    margin: auto;
   
    
}

.hotitem h6{
    color: black;
}
.hotitem a{
    width: 100%;
    height: 302px;
}
.hot-item-out{
    position: relative;
    width: 1060px;
    margin: auto;
}
.hot-item-out .left{
    position: absolute;
    left: -70px;
    top: 0;
    bottom: 0;
    margin-left: 0;
    background-color: #f1daa0;
    margin: auto;
    width: 60px;
    height: 200px;
    display: flex;
    border: none; 
    
    

}
.left svg{
    width: 30px;
    margin: auto; 
}

.hot-item-out .right{
    position: absolute;
    right: -70px;
    top: 0;
    bottom: 0;
    margin-left: 0;
    margin: auto;
    width: 60px;
    height: 200px;
    background-color: #f1daa0;
    display: flex;
    border: none;
   
    
}

.right svg{
    margin: auto;
    width: 30px;
}


/* bottombanner */
.botban{
    margin: auto;
    width: 100%;
    background-image: url(../img/firstpage/shoppingmall.jpg);
    height: 661px;
    background-color: #fff;
    background-repeat: no-repeat;
    
    background-position: center;
    margin-top: 30px;
    border-top: 2px solid #777777;

}
   
.bot-text {
    margin: auto;
    width: 300px; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}

.bot-text img{
    width: 200px;
    padding-left: 40px;
    /* margin: auto 0; */ 
}

.lt{
    padding-top: 150px;
}
.rb {
    padding-top: 40px;
}



/*  */
.btn2 {
    display: inline-block;
    margin: 30px;  
    margin-top: 50px;
    font-size: 20px;
    border: 1px solid ;
    width: 120px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #ffd89d;
}



/* hover */
#trbtn:hover{
    background-color: rgb(244, 199, 133);
}
#trbtn a:hover{
    color: white;
}
.nav a:hover{
    color: orange;
}

.btn1:hover{
    background-color: #ec930e;
    color: white;
    transform: scale(1.1);
}
 
.live a:hover{
    color: black;
}

.btn2:hover{
    background-color: #ec930e;
}

.left:hover{
    background-color: gray;
}

.right:hover{
    background-color: gray;
}
.buybtn:hover{
    background-color: #ec930e;
}

.nav-list .fa{
    display: none;
}

/*  */
.comment-out2{
    display: none;
}
@media screen and (max-width: 414px){

    #header{
        position: fixed;
        width: 100%;
        height: 60px;
        
        z-index: 100;
    }

    .tlogo{
        height: 60px;
        position: absolute;
    }
    .nav-list{

    }

    .nav{
        float: none;
        position: fixed;
        margin: 0;
        height: 480px;
        width: 250px;
        background-color: white;
        right: -250px;
        top: 62px;
        
    }

    .nav li{
        width: 100%;
        box-sizing: border-box;
        border-top: 1px solid lightgray;
       
    }

    

    .nav-list .fa{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 60px;
        width: 60px;
        line-height: 60px;
        text-align: center;
        
    }

    .top-main{
        padding-top: 60px;
        width: 100%;
        height: 400px;
        background-position: center;
        
    }

    .tpcontent{
        width: 50%;
        top: 200px;
        
        padding-left: 30px;

        
    }

    .tpcontent h3{
        margin-top: 0px;
    }
    .tpcontent .btn1{
        display: block;
        margin: auto;
        margin-top: 20px;
        font-size: 12px;
        line-height: 40px;
        width: 80px;
        height: 40px;
        
    }

    .comment-out{
        display: none;
    }
    .comment-out2{
        display: block;
        position: relative;
    }

    .comment-in2{
        box-sizing: border-box;
       display: flex;
       width: 100%;
      

    }
    .comment2{
        
        flex-grow: 0;
        margin: 10px;
    }
    .comment p{
        margin-bottom: 15px;
    }
    .live{
        display: none;
    }
    .check-in{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        
    }

    .check-in img{
        
        width: 95%;
        height: auto;
        margin: auto;
        padding: 0;
        padding-top: 10px;
    }
    .main-text{
        width: 100%;
    }
    .main-text p{
        padding-left: 0;
    }
    .btn1{
        display: inline-block;
        margin: auto;
        margin-top: 20px;
        font-size: 12px;
        line-height: 40px;
        width: 80px;
        height: 40px;
        margin: 20px;
    }
    .bag{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    .bag img{
        width: 95%;
        height: auto;
        margin: auto;
        padding: 0;
        padding-top: 10px;
        order: 0;
    }
    .eat img{
        width: 95%;
        height: auto;
        margin: auto;
        padding: 0;
        padding-top: 10px;
    }
    .eat{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    .service{
        width: 100%;
        height: auto;
        border: none;
    }
    .service ul{
        width: 100%;
        flex-wrap: wrap;
    }
    .on-sales{
        width: 100%;
    }
    .service img{
        width: 100px;
        height: 100px;
    }
    .hot-item-out{
        width: 100%;
        height: 650px;
    }
    .hot-item-out .right{
        display: none;
    }
    .hot-item-out .left{
        display: none;
    }
    .right2 svg {
        margin: auto;
        width: 20px;
    }
    .hot-item-out .right2{
        position: absolute;
        background-color: #f1daa0;
        border: none;
        display: block;
        width: 20%;
        height: 50px;
        top: -50px;
        margin: 0;
        right: 0;
        box-sizing: border-box;
    }
    .left2 svg {
        margin: auto;
        width: 20px;
    }
    .hot-item-out .left2{
        position: absolute;
        background-color: #f1daa0;
        border: none;
        position: absolute;
        border: none;
        display: block;
        width: 20%;
        height: 50px;
        top: -50px;
        margin: 0;
        left: 0;
      
    }
    .hotitem{
        
       height: 650px;
    }
    .hotitem ul{
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        height: 650px;
        align-items: flex-start;

        
    }

    .hotitem li{
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
        
        height: 120px;
        border: 1px solid black; 
        margin-top: 10px;
    }
    .hotitem img{
        width: 100px;
        height: 100px;
        
        flex-grow: 0;
    }
    .hotitem a{
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    .hotitem p{
        font-size:16px;
        padding-left: 10px;
        padding-bottom: 20px;
    }
    .hotitem h6{
        font-size: 16px;
        padding-top: 10px;
        padding-left: 10px;
    }
    .itemin{
        padding: 5px;
        width: 60%;
        box-sizing: border-box;
        border: none;
        flex-grow: 1;
        border-left: 1px solid black;

    }
    .bot-text{
       text-align: center;
       width: auto;
        
    }
    .botban{
        width: 100%;
        height: 563px;
        background-image: url(../img/firstpage/shoppingmall2.png);
        margin-top:10px;
    }
    .bot-text img{
        width: 150px;
        padding-top: 75px;
        padding-left: 30px;
    }
    .lt{
        padding-top: 50px;
        border-radius: 5px;
        background-color: #f1daa0;
        margin-top: 60px;
        padding: 5px;
        color: black;
    }
    .rb{
        padding-top: 0;
        margin-top: 30px;
        border-radius: 10px;
        background-color: #f1daa0;
        padding: 5px;
        color: black;
    }
}