@import url(reset.css);
@import url(common.css);
/* shopnav */
.shop-out{
    padding-top: 80px;
    background-color: white;
    width: 1280px;
    margin: auto;
    position: relative;
}
.shop-navlist{
    padding-top: 40px;
}

.shop-navlist ul{
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: azure;
}



.shop-navlist li{
    /* padding-left: 50px; */
    width: 100px;
    border-right: 1px solid rgb(182, 178, 178);
    box-sizing: border-box;
    
}

.shop-navlist li:first-child{
    border-left: 1px solid rgb(182, 178, 178);
    /* background-color: #fff; */
    /* color: coral; */
}

.shop-navlist a{
    text-align: center;  
}
/* position */
.position{
    margin-left: 100px;
    display: flex;
    margin-top: 40px;
    /* border-bottom: 1px solid lightgray; */
    width: 800px;
    text-align: center;
}
.position li{
    padding-left: 10px;
}
/* detail */
.item{
    display: flex;
    width: 1000px;
    padding-left: 100px;
    margin: auto;
    margin-top: 30px;
    
    
}

.item img{
    width: 500px;
    height: 500px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25)
}
.detail{
    padding: 20px 30px;
    width: 500px;
    border: 1px solid lightgray;
    background-color: #FFF4D8;
    padding-left: 80px;
    
}
.detail h3{
     color: black;
     font-size: bold;
    
}

.detail h5{
    color: #F45E4A;
    margin-top: 10px;
    font-size: bold;
}

.detail .content{
    margin-top: 80px; 
    display: block; 
}

.content li{
    margin-top: 5px;

    
}

.bot-thing{
    margin-top: 90px;
    display: flex;
}



.buybtn{
    background-color: #ffd89d;
    border: none;
    margin-right: 20px;
    border-radius: 5px;
}
.bot-thing p{
    margin-right: 30px;
    color: #F45E4A;
    font-size: bold;
    font-size: 18px;
}

.bot-thing h6{
    
    color: black;
    margin: auto;
    margin-right: 15px;
}
.bot-thing input{
    width: 30px;
    border: 2px solid lightgray;
    border-radius: 10px;
   text-align: center;
   
}
/* hover */
.buybtn:hover{
    background-color: #ec930e;
}

/* hotitems */
.hotitem{
    display: flex;
    flex-direction: column;
    width: 1000px;
    padding-left: 100px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.hotitem>h3{
    text-align: center;
    padding-bottom: 20px;
    color: black;
}

.hotitem ul{
    width: 100%;
    display: flex;
    justify-content: center ;
    box-sizing: border-box;
}

.hotitem li{
    border: 2px solid lightgray;
    margin-left: 10px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 300px;
    box-sizing: border-box;
    
    
}


.hotitem img{
    padding: 10px 20px;
    margin: auto;
    display: block;
    height: 171px;
    
}

.itemin{
    padding-left: 15px;
    width: 180px;
    background-color: #fff;
    border-top: 1px solid black;
    padding-bottom: 10px;
    
}

.itemin>div{
    display: flex;
}

.hotitem p{
    font-size: 18px;
    color: #F45E4A;
    bottom: 5px;
    display: block;
    text-align: center;
    margin: auto;

}

.hotitem h6{
    margin: 5px 10px;
    color: black;
}

.hotitem .buybtn{
    margin-left: 5px;
}

.hotitem li:hover{
    
    border: 2px solid #ec930e;
    box-sizing: border-box;  
    transform: scale(1.05);
}
.buybtn:hover{
    background-color: #ec930e;
    transform: scale(1.1);
}
@media screen and (max-width: 850px){
    .footer{
        width: 100%;
    }
    .position{
        box-sizing: border-box;
        margin: 0;
       padding-top: 10px;
       padding-left: 30px;
       padding-bottom: 20px;
        width: 100%;
        
    }
    .shop-out{
        width: 100%;
    }
    .item{
        width: 60%;
        padding-top: 20px;
        padding-left: 30px;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        box-sizing: border-box;
    }
    .item img{
       width: 100%;
       height: auto;
       box-sizing: border-box;
    }
    .detail{
        width: 100%;
        padding:0;
        padding: 20px;
        box-sizing: border-box;
    }
    .detail .content{
        margin-top: 0;
        margin-top: 10px;
    }
    .bot-thing{
        margin-top: 0;
        margin-top: 30px;
        
    }
    .bot-thing h6{
        margin: auto;
        width: 40px;
        box-sizing: border-box;

    }
    .hotitem{
        width: 100%;
        padding-left: 0;
        box-sizing: border-box;
    }
    .hotitem ul{
        flex-wrap: wrap;
    }
    .hotitem li{
        width: 150px;
        height: 280px;
        text-align: left;
        font-size: 13px;
        position: relative;
    }
    .hotitem img{
       height: 100px;
    }
    .itemin{
        width: 100%;
        box-sizing: border-box;
        padding-left: 0;
        position: relative;
        height: 150px;
        
    }
    .hotitem h6{
        margin: 5px;
    }
    .itemin p{
        
        position: absolute;
        bottom: 5px;
        left: 0;
        right: 0;
    }
}
@media screen and (max-width: 414px){
    #header{
        
        width: 100%;
        height: 60px;
        
        z-index: 100;
    }

    .tlogo{
        height: 60px;
        position: absolute;
    }
    .nav-list{

    }

    .nav{
        float: none;
        position: fixed;
        margin: 0;
        height: 480px;
        width: 250px;
        background-color: white;
        right: -250px;
        top: 62px;
        
    }

    .nav li{
        width: 100%;
        box-sizing: border-box;
        border-top: 1px solid lightgray;
       
    }

    
    .nav-list .fa{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 60px;
        width: 60px;
        line-height: 60px;
        text-align: center;
        
    }
    #membership>div{
        padding-right: 19px;
    }
    
    .top-main{
        width: 100%;
        padding-top: 60px;
        width: 100%;
        height: 400px;
        background-position: center ;
        opacity: 100%;
    }
    
    .tpcontent{
        position:static;
        margin-left: 0;
        width: 60%;
        margin: auto;
        margin-top: 150px;
        margin-right: 50px;
        text-align: center;
    }
    .tpcontent h3{
        margin-top: 20px;
    }
    .shop-out{
        width: 100%;
        padding: 0;
        padding-top: 30px;

    }
    .shop-navlist a{
        margin: 0 auto;
    }
    .shop-navlist li{
        flex-shrink: 0;
    }
    .shop-navlist ul{
        flex-wrap: wrap;
    }
    .item{
        padding: 0;

    }
    .item{
        width: 95%;
    }
    .detail{
        padding: 3px;
    }
    .bot-thing {
        margin-top: 10px;
        padding-bottom: 5px;
    }
    .bot-thing p{
        margin: 0;
        font-size: 14px;
        padding-top: 2px;
    }
    .bot-thing h6{
        margin: 0;
        margin-left: 10px;
        
    }
    .bot-thing .buybtn{
        width: auto;
        margin-right: 5px;
        font-size: 14px;
        color: black;
    }
    .bot-thing input{
        width: 20px;
    }
    .hot-item-out{
        width: 100%;
        height: 650px;
    }
    .hot-item-out .right{
        display: none;
    }
    .hot-item-out .left{
        display: none;
    }
    .right2 svg {
        margin: auto;
        width: 20px;
    }
    .hot-item-out .right2{
        display: block;
        position: absolute;
        background-color: #f1daa0;
        border: none;
        
        width: 20%;
        height: 50px;
        top: -50px;
        margin: 0;
        right: 0;
        box-sizing: border-box;
    }
    .left2 svg {
        margin: auto;
        width: 20px;
    }
    .hot-item-out .left2{
        display: block;
        position: absolute;
        background-color: #f1daa0;
        border: none;
        position: absolute;
        border: none;
        
        width: 20%;
        height: 50px;
        top: -50px;
        margin: 0;
        left: 0;
      
    }
    .hotitem{
        
       
    }
    .hotitem ul{
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        
        align-items: flex-start;
        
        
    }

    .hotitem li{
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
        
        height: 120px;
        border: 1px solid black; 
        margin-top: 10px;
    }
    .hotitem img{
        width: 100px;
        height: 100px;
        
        flex-grow: 0;
    }
    .hotitem a{
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    .hotitem p{
        font-size:16px;
        padding-left: 10px;
        padding-bottom: 20px;
    }
    .hotitem h6{
        font-size: 16px;
        padding-top: 10px;
        padding-left: 10px;
    }
    .itemin{
        padding: 5px;
        width: 60%;
        box-sizing: border-box;
        border: none;
        flex-grow: 1;
        border-left: 1px solid black;
        height: auto;

    }
    .itemin>div{
        
        position: static;
    }
    .itemin p{
        text-align: left;
        position: static;
    }
}