@import url(reset.css);
@import url(common.css);
/* shopnav */
.shop-out{
    padding-top: 80px;
    background-color: white;
    width: 1280px;
    margin: auto;
    position: relative;
}
.shop-navlist{
    padding-top: 40px;
}

.shop-navlist ul{
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: azure;
}



.shop-navlist li{
    /* padding-left: 50px; */
    width: 100px;
    border-right: 1px solid rgb(182, 178, 178);
    box-sizing: border-box;
    
}

.shop-navlist li:first-child{
    border-left: 1px solid rgb(182, 178, 178);
    /* background-color: #fff; */
    /* color: coral; */
}

.shop-navlist a{
    text-align: center;  
}
/* position */
.position{
    margin-left: 100px;
    display: flex;
    margin-top: 40px;
    /* border-bottom: 1px solid lightgray; */
    width: 800px;
    text-align: center;
}
.position li{
    padding-left: 10px;
}
/* detail */
.item{
    display: flex;
    width: 1000px;
    padding-left: 100px;
    margin: auto;
    margin-top: 30px;
    
    
}

.item img{
    width: 500px;
    height: 500px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25)
}
.detail{
    padding: 20px 30px;
    width: 500px;
    border: 1px solid lightgray;
    background-color: #FFF4D8;
    
}
/* .detail h3{
    
} */

.detail h5{
    color: #F45E4A;
    margin-top: 10px;
}

.detail .content{
    margin-top: 80px;  
}

.content li{
    margin-top: 5px;

    
}

.bot-thing{
    margin-top: 90px;
    display: flex;
}



.buybtn{
    background-color: #ffd89d;
    border: none;
    margin-right: 20px;
    border-radius: 5px;
}
.bot-thing span{
    margin-right: 30px;
    color: #F45E4A;
}

.bot-thing h6{
    margin-right: 20px;
}
.bot-thing input{
    width: 30px;
}
/* hover */
.buybtn:hover{
    background-color: #ec930e;
}

/* hotitems */
.hotitem{
    
    display: flex;
    flex-direction: column;
    width: 1000px;
    padding-left: 100px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hotitem h3{
    text-align: center;
    padding-bottom: 20px;
}



.hotitem ul{
    width: 100%;
    display: flex;
    justify-content: center ;
}

.hotitem li{
    border: 1px solid lightgray;
    margin-left: 10px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
    /* border: 1px solid black; */
}

.hotitem img{
    padding: 10px 20px;
    width: 150px;
    height: 171px;
    border-bottom: 1px solid black;
}

.itemin{
    padding-left: 15px;
}

.hotitem p{
    font-size: 18px;
    color: #F45E4A; 
    margin-left: 5px;  

}

.hotitem h6{
    margin: 5px 10px;
}

.hotitem .buybtn{
    margin-left: 5px;
}
