@import url(reset.css);
@import url(common.css);
/* shopnav */
.shop-out{
    padding-top: 80px;
    background-color: white;
    width: 1280px;
    margin: auto;
    position: relative;
}
.shop-navlist{
    padding-top: 40px;
}

.shop-navlist ul{
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: azure;
}



.shop-navlist li{
    /* padding-left: 50px; */
    width: 100px;
    border-right: 1px solid rgb(182, 178, 178);
    box-sizing: border-box;
    
}

.shop-navlist li:first-child{
    border-left: 1px solid rgb(182, 178, 178);
    /* background-color: #fff; */
    /* color: coral; */
}

.shop-navlist a{
    text-align: center;  
}
/* position */
.position{
    margin-left: 100px;
    display: flex;
    margin-top: 40px;
    /* border-bottom: 1px solid lightgray; */
    width: 800px;
    text-align: center;
}
.position li{
    padding-left: 10px;
}
/* detail */
.item{
    display: flex;
    width: 1000px;
    padding-left: 100px;
    margin: auto;
    margin-top: 30px;
    
    
}

.item img{
    width: 500px;
    height: 500px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25)
}
.detail{
    padding: 20px 30px;
    width: 500px;
    border: 1px solid lightgray;
    background-color: #FFF4D8;
    padding-left: 80px;
    
}
.detail h3{
     color: black;
     font-size: bold;
    
}

.detail h5{
    color: #F45E4A;
    margin-top: 10px;
    font-size: bold;
}

.detail .content{
    margin-top: 80px; 
    display: block; 
}

.content li{
    margin-top: 5px;

    
}

.bot-thing{
    margin-top: 90px;
    display: flex;
}



.buybtn{
    background-color: #ffd89d;
    border: none;
    margin-right: 20px;
    border-radius: 5px;
}
.bot-thing p{
    margin-right: 30px;
    color: #F45E4A;
    font-size: bold;
    font-size: 18px;
}

.bot-thing h6{
    
    color: black;
    margin: auto;
    margin-right: 15px;
}
.bot-thing input{
    width: 30px;
    border: 2px solid lightgray;
    border-radius: 10px;
   text-align: center;
   
}
/* hover */
.buybtn:hover{
    background-color: #ec930e;
}

/* hotitems */
.hotitem{
    display: flex;
    flex-direction: column;
    width: 1000px;
    padding-left: 100px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.hotitem>h3{
    text-align: center;
    padding-bottom: 20px;
    color: black;
}

.hotitem ul{
    width: 100%;
    display: flex;
    justify-content: center ;
    box-sizing: border-box;
}

.hotitem li{
    border: 2px solid lightgray;
    margin-left: 10px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 300px;
    box-sizing: border-box;
    
    
}


.hotitem img{
    padding: 10px 20px;
    margin: auto;
    display: block;
    height: 171px;
    
}

.itemin{
    padding-left: 15px;
    width: 180px;
    background-color: #fff;
    border-top: 1px solid black;
    padding-bottom: 10px;
    
}

.itemin>div{
    display: flex;
}

.hotitem p{
    font-size: 18px;
    color: #F45E4A;
    bottom: 5px;
    display: block;
    text-align: center;
    margin: auto;

}

.hotitem h6{
    margin: 5px 10px;
    color: black;
}

.hotitem .buybtn{
    margin-left: 5px;
}

.hotitem li:hover{
    
    border: 2px solid #ec930e;
    box-sizing: border-box;  
    transform: scale(1.05);
}
.buybtn:hover{
    background-color: #ec930e;
    transform: scale(1.1);
}