@import url(reset.css);
@import url(common.css);

body{
    background-color: #fff;
}

/* shopnav */
.shop-out{
    padding-top: 80px;
    background-color: white;
    width: 1280px;
    margin: auto;
    position: relative;
}
.shop-navlist{
    padding-top: 40px;
}

.shop-navlist ul{
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: azure;
}



.shop-navlist li{
    /* padding-left: 50px; */
    width: 100px;
    border-right: 1px solid rgb(182, 178, 178);
    box-sizing: border-box;
    
}

.shop-navlist li:first-child{
    border-left: 1px solid rgb(182, 178, 178);
    /* background-color: #fff; */
    /* color: coral; */
}

.shop-navlist a{
    text-align: center;  
}

/* leftnav */
.leftnav{
    position: absolute;
    padding: 30px 30px ;
    padding-right: 0;
    background-color: white;
    width: 260px;
    box-sizing: border-box;
    

}
.search{
    border: 1px solid lightgray;
    padding: 5px;
    margin-left: 10px;
    border-radius: 10px;
    padding-left: 20px;
}

.leftdiv{
    /* border-left: 2px solid #b6c0b7;
    border-right: 1px solid black; */
    box-sizing: border-box;
    box-shadow: 2px 1px rgb(134, 132, 132);
}

.leftdiv ol{
    padding-top: 10px;
    padding-left: 10px;
    /* border-bottom: 1px solid #b6c0b7; */
}
.leftdiv li{
    padding-left: 30px;
}


/* suggest item */
.suggest{
    width: 230px;
    box-sizing: border-box;
    box-shadow: 2px 1px rgb(134, 132, 132);
    
}

#header a{
    font-weight: bold;
}

a{
    font-weight: normal;
}

.suggest img{
   
    height: 100px;
    width: 100px;
}

.suggest ul{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
}

.suggest li{
    display: flex;
    margin-top: 10px;
    border-bottom: 1px solid rgb(134, 132, 132);
    
}
.suggest li>a{
    display: flex;
}
.suggest h5{
    padding-left: 30px;
    padding-top: 10px;
    width: 140px;
    
}
.suggest h6{
    padding-top: 10px;
    color: black;
}
.suggest p{
    padding-top: 10px;
}


/* position list */

.position{
    margin-left: 300px;
    display: flex;
    margin-top: 40px;
    border-bottom: 1px solid lightgray;
    width: 800px;
    text-align: center;
}
.position li{
    padding-left: 10px;
    width: 70px;
}

/* liststyle */
#liststyle{
    margin-left: 460px;
    border: 2px solid lightgray;
    padding: 5px;
    display: block;
    font-size: 16px;

}

/* item */
.itembox{
    
    height: 100%;
    margin-left: 290px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    text-align: left;
    padding-bottom: 30px;  
}

.itembox ul{
    width: 100%;
    display: flex;
    justify-content: flex-start ;
    flex-wrap: wrap;
    
}

.itembox li{
    border: 1px solid lightgray;
    margin-left: 10px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
    /* border: 1px solid black; */
    margin-top: 30px;
    width: 191px;
    height: 300px;
    box-sizing: border-box;
}

.itembox img{
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: auto;       
    height: 171px;
    
}

.itemin{
    padding-left: 15px;
    border-top: 1px solid black;
}

.itemin h6{
    color: black
}

.itemin>div {
    display: flex;
    margin-top: 15px;
    flex-grow: 0;
    font-size: 16px;
}

.itemin>div p{
    color: #F45E4A;
}

.itemin>div .buybtn{
    margin-left: 20px;
    
    display: block;
    border-radius: 10px;
    background-color: #ffd89d;
    border: none;

}



/* page */
.page{
    margin-right: 182px;

}
.page button{
    width: 40px;
    height: 40px;
    margin: 10px;
    margin-top: 30px;
    background-color: #fff;
    
    text-align: center;
    border-radius: 50%;
    /* margin: auto; */
}

/* hover */
.itemin>div .buybtn:hover{
    background-color: #ec930e;
    transform: scale(1.1);
}

.page button:hover{
    background-color: #ec930e;
    
}

.itembox>ul>li:hover{
   
    box-sizing: border-box;  
    border: 2px solid #ec930e; 
}

.suggest ul>li:hover {
    transform: scale(1.05);
}
/*  */
.leftdiv ol:first-child>li{
    
    display: none;
    
}


@media screen and (max-width: 414px){
    #header{
        
        width: 100%;
        height: 60px;
        
        z-index: 100;
    }
    .leftnav>.leftdiv>ol>li>.fa-plus{
        display: block;
    }

    .tlogo{
        height: 60px;
        position: absolute;
    }
 

    .nav{
        float: none;
        position: fixed;
        margin: 0;
        height: 480px;
        width: 250px;
        background-color: white;
        right: -250px;
        top: 62px;
        
    }

    .nav li{
        width: 100%;
        box-sizing: border-box;
        border-top: 1px solid lightgray;
       
    }

    
    .nav-list .fa{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 60px;
        width: 60px;
        line-height: 60px;
        text-align: center;
        
    }
    #membership>div{
        padding-right: 19px;
    }
    .shop-out{
        width: 100%;
        padding: 0;
        padding-top: 30px;
        display: flex;
        flex-direction: column;

    }
    .shop-navlist a{
        margin: 0 auto;
    }
    .shop-navlist li{
        flex-shrink: 0;
        border: none;
        margin: 3px;
        background-color: #ffd89d;
        box-sizing: border-box;
        padding-top: 3px;
        padding-bottom: 3px;
        border-radius: 10px;
        
    }
    .shop-navlist li:first-child{
        border: none;
    }
    .shop-navlist ul{
        flex-wrap: wrap;
    }
    .suggest{
        display: none;
    }
    .leftnav{
        
        width: 100%;
        position: static;
        padding: 0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        
    }
    .search{
        margin: 0;
        margin-bottom: 5px;
    }
    .leftdiv{
        box-shadow: none;
        
        display: flex;
        background-color: #ffd89d;
    }
    .leftdiv ol{
        padding: 0;
        
        
        text-align: center;
        
        width: 25%;
        display: flex;
        flex-direction: column;
        display: none;
        
        
    }
    .leftdiv ol a{
        width: 100%;
        display: block;
    }
    .leftdiv ol:first-child{
        display: block;
        width: 100%;
    }
    
    .leftdiv li{
        padding-left: 0;
        
        padding-bottom: 5px;
        border-bottom: 1px solid lightgray;
        text-align: center;
        
        border-left: 1px solid lightgray;
        background-color: #F9F1DF;
    }
    
    .leftdiv ol>h5{
        border: 1px solid lightgray;
       border-right: none;
       background-color: #ffd89d;
    }
    
    .leftdiv ol:first-child{
        height: 100%;
        border-left: 1px solid lightgray;
        
        
    }
    .leftdiv ol:last-child>h5{
        border-right: 1px solid lightgray;
    }
    .leftdiv ol:last-child>li{
        border-right: 1px solid lightgray;
    }
    .leftdiv ol:first-child>h5{
        border: 1px solid lightgray;
       border-bottom: none;
       border-left: none;
       border-right: none;
    }
    .leftdiv ol:first-child>li{
        border: none;
        background-color: #ffd89d;
        display: block;
        
    }
    .itembox{
        margin: 0;
    }
    .position{
        box-sizing: border-box;
        font-size: 16px;
       padding-top: 10px;
       padding-left: 30px;
       padding-bottom: 20px;
        width: 100%;
        padding: 0;
        margin: 0;
        
    }
    .position li{
        padding: 0;
        font-size: 16px;
        width: auto;
        line-height: 33px;
        padding-left: 10px;
    }
    .position li>a{
        font-size: 16px;
    }
    #liststyle{
        margin: 0;
        background-color: #fff;
        color: black;
    }
    .itembox ul{
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        height: 650px;
        align-items: flex-start;
        overflow: hidden;
    }
    .itembox li{
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
        
        height: 120px;
        border: 1px solid black; 
        margin-top: 10px;
    }
    .itembox a{
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    .itembox p{
        font-size:16px;
        display: block;
        margin: auto;
    }
    .itembox h6{
        font-size: 16px;
        padding-top: 10px;
        padding-left: 10px;
    }
    .itemin{
        padding: 5px;
        width: 60%;
        box-sizing: border-box;
        border: none;
        flex-grow: 1;
        border-left: 1px solid black;

    }
    .itembox img{
        width: 100px;
        height: 100px;
        
        flex-grow: 0;
    }
    .itemin>div .buybtn{
        padding: 0;
        padding: 3px;
        color: black;
    }
    .page{
        margin: auto;
        padding: 0;
        color: black;
    }
    .page button{
        color: black;
    }

}