@import url(reset.css);
@import url(common.css);
#memberbtn{
    background-color: #DC9731
}
input{
    outline: none

}
.block{
    padding-top: 100px;
    margin: auto;
    padding-bottom: 20px;
    
    /* background-color: #fff; */
}

.login{
    padding: 20px 30px;
    border: 2px solid lightgray;
    background-color: #FFF4D8;
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 25px;
}


.login h2{
    text-align: center;
    /* color: #48684e; */
    padding-top: 10px;
    
}

.account{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    
    margin: auto;
    justify-content: center;
    box-sizing: border-box;
    

}


.account>div{
    margin: auto;
    line-height: 1.2;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    margin-top: 30px;

    
}
.account>div:first-child{
    margin-top: 0;
}

.bot{
    margin-top: 0;
    width: auto;
    margin: auto;
    text-align: center;
    
    display: flex;
    justify-content: center;
}

.bot a{
    margin-left: 10px;
    margin-right: 10px;
    color: #48684e;

}



input {
    display: inline;
    border: none;
    margin-left: 5px;
    margin: auto;
    width: 300px;
    line-height: 2;
    font-size: 16px;
    padding-left: 5px;
    border-radius: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}


span.yyy{
    position: absolute;
    line-height: 2;
    font-size: 16px;
    left: -50px;
    margin-top: 10px;
    color: #48684e;
}

#submit{
    width: 150px;
    box-sizing: border-box;
    margin-top: 50px;
    background-color: #fff;
    border: 1px solid #FFF4D8;
    background-color: #f1daa0;
    
}
#submit:hover{
    background-color: #ffd89d;
    border: 1px solid lightgray;
    box-sizing: border-box;
}




.btn-submmit:hover{
    background-color: #F1DAA0;
    border: 1px solid lightgray;
}

.otherlog{
    display: flex;
    margin-top: 20px;
    margin: auto;
    justify-content: center;

}

.fb{
 margin: 20px;
 
    
}
.fba{
margin: 20px;
    
}

.otherlog img{
    width: 40px;
    height: 40px;
    padding-top: 15px;
}

.otherlog a{
    display: flex;
    
}
.otherlog p{
    padding-top: 15px;
    margin-left: 10px;
}

.boxshadow{
    box-shadow: 0 0 5px #9999;
    transform: scale(1.02);
    transform-origin: center center;
    border: none;
}

.loginfo{
    transition: transform .5s, boxshadow .5s;
}

@media screen and (max-width: 414px){
    #header{
        
        width: 100%;
        height: 60px;
        
        z-index: 100;
    }

    .tlogo{
        height: 60px;
        position: absolute;
    }
 

    .nav{
        float: none;
        position: fixed;
        margin: 0;
        height: 480px;
        width: 250px;
        background-color: white;
        right: -250px;
        top: 62px;
        
    }

    .nav li{
        width: 100%;
        box-sizing: border-box;
        border-top: 1px solid lightgray;
       
    }

    
    .nav-list .fa{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 60px;
        width: 60px;
        line-height: 60px;
        text-align: center;
        
    }
    #membership>div{
        padding-right: 19px;
    }
    .login{
        width: 100%;
        box-sizing: border-box;
        height: auto;
    }
    .account>div{
        padding-right:0;
    }
    input{
        width: 100%;
        margin: 0 auto;
    }
    span.yyy{
        margin-top: 0;
    }
    #submit{
        margin-top: 20px;
        color: #48684e;
    }
    .block{
        padding-top: 70px;
    }
}