@import url(reset.css);
@import url(common.css);
/* top-main */
.top-main{
    padding-top: 80px;
    width: 100%;
    height: 100vh;
    
    background-image: url(../img/aboutus/Rectangle\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    opacity: 80%;
}
.tpcontent{
    
    text-align: center;
    position: absolute;
    z-index: 5;
    width: 40%;
    top: 40%; 
    margin-left: 350px;
   
}

.tpcontent h1{
    /* opacity: 100%; */
    font-weight: bolder;

}

.tpcontent h3{
    margin-top: 50px;
    font-weight: bold;
}
/* room table */
.table{
    background-color: #f7e8c2;
    padding-top: 50px;
    padding-bottom: 50px;
}

.table>div{
    /* background-color: rgb(249, 233, 214); */
    border-radius: 25px;
}

.table h3{
    text-align: center;
    color: #48684e;
    font-weight: bolder;
    margin-bottom: 5px;
    text-shadow: 2px 2px 2px  white;

}

.table h6{
    text-align: center;
    line-height: 1.8;
    margin-top: 10px;
    margin-bottom: 10px;
}

table{
    margin: auto;
    width: auto;
    text-align: center;
    
    border: 5px solid white;
    
}



.table th{
    color: #48684e;
    /* background-color: ; */
    font-weight: bold;
    padding: 10px;
    background-color: #f7e8c2;
    border: 1px solid lightgray;
    
}
td{
    padding: 10px;
    border: 1px solid lightgray;
    background-color: rgb(250, 241, 226);
}

.tablebottom{
    display: flex;
    
}
/* room */
.roomout{
    background-color: rgb(249, 233, 214);
    margin-bottom: 30px;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    box-shadow: 2px 2px 2px black;
}

.room{
    display: flex;
    padding-top: 30px;
    background-color: rgb(247, 232, 194);
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.roomin{
    background-color: rgb(250, 241, 226);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0 0 8% 8%;
    border: 2px solid lightgray;
}


.roomin img{
    width: 400px;
    height: 230px;
}

.roomin h3{
    color: #48684e;
    padding-top: 10px;
    text-align: center;
    
}

.roomin ul{
    padding: 25px;
    margin: auto;

}

#book{
    background-color: rgb(244, 199, 133);
    padding: 5px 10px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    
}

#book:hover{
    background-color: #ec930e;
    color: white;
    transform: scale(1.1);
}

.dateinfo input{
    border-radius: 10px;
}
