@import url(reset.css);
@import url(common.css);
input{
    outline: none;
    transition: transform .5s, boxshadow .5s;
}
.outblock{
    padding-top: 120px;
}

.dateinfo{
    margin: auto;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 10px;
    width: 800px;
    text-align: center; 
    display: flex;
    justify-content: center;
    background-color: #FFF4D8;
    position: relative;
}
.dateinfo h4{ 
    position: absolute;
    margin: auto;
    top: 10px;
}
.infodetail{
   width: 120px;
   border-left: 2px solid lightgray;
   background-color: #fff;
}

.infodetail:last-child{
    border-right: 2px solid lightgray;
}
.infodetail input{
    width: 100%;
    box-sizing: border-box;
    border: none;
    height: 50%;
    text-align: center;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    padding: 5px;
    background-color: #fff;
    text-align: center;
    color: black;
}
.infodetail select{
    width: 100%;
    box-sizing: border-box;
    border: none;
    height: 50%;
    text-align: center;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    padding: 5px;
    background-color: #fff;
    text-align: center;
    color: black;
}
.infodetail h5{
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.infodetail h5 #nn{
    border-top: none;
}
.submit-top{
    box-sizing: border-box;
    background-color: #fff;
    text-align: center;
    color: black;
    
}
.submit-top:hover{
    background-color: #F1DAA0;
   
    box-sizing: border-box;
}

.detail{
    width: 550px;
    margin: auto;
    border: 1px solid lightgray;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #FFF4D8;
}
.detail h4{
    text-align: center;
}
.detail>div{
    margin: auto  ;
    text-align: left;
    width: 100%;
    padding-left: 130px;
    
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    
   
    
}
.detail>div:last-child{
    padding: 0;
    width: 300px;
    margin: auto;
    margin-top: 20px;
}
.detail>div>h5{
    margin-right: 5px;
    display: block;
    width: 80px;
}
.detail>div>input{
    width: 200px;
    box-sizing: border-box;
    border: 1px solid lightgray; 
    padding-left: 10px;
    border-radius: 10px;   
    background-color: #fff;
    
    color: black;
   
}
.detail>div>select{
    width: 200px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    text-align: center;    
    border-radius: 10px;  
    background-color: #fff;
    text-align: center;
    color: black;
}

.detail>div>input.ddd{
    
    text-align: center;
    color: black;
   
}

.boxshadow{
    box-shadow: 0 0 5px #9999;
    transform: scale(1.02);
    transform-origin: center center;
    border: none;
}
#bot-sub{
    width: 400px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #FFF4D8;
    color: black;
    padding-left: 0;
}
#bot-sub:hover{
    background-color: #F1DAA0;
    border: 1px solid lightgray;
    box-sizing: border-box;
}
@media screen and (max-width: 850px){
    #header{
        
        width: 100%;
        height: 60px;
        
        z-index: 100;
    }

    .tlogo{
        height: 60px;
        position: absolute;
    }
    .nav-list{

    }

    .nav{
        float: none;
        position: fixed;
        margin: 0;
        height: 480px;
        width: 250px;
        background-color: white;
        right: -250px;
        top: 62px;
        
    }

    .nav li{
        width: 100%;
        box-sizing: border-box;
        border-top: 1px solid lightgray;
       
    }

    
    .nav-list .fa{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 60px;
        width: 60px;
        line-height: 60px;
        text-align: center;
        
    }
    .footer img{
        width: 50px;
        padding-left: 10px;
        padding-top: 5px;
    }
    .footer span{
        
        font-size: 12px;
    }
    .ww{
        width: 100%;
        font-size: 12px;
    }
    .footer li {
        padding: 5px;
    }

}
@media screen and (max-width: 800px){
    .dateinfo{
        width: 100%;
        
    }
    .detail{
        width: 100%;
        box-sizing: border-box;
       
    }
    .detail>div{
        width: 100%;
        padding-left: 0;
         justify-content: center;
    }
    
}

@media screen and (max-width: 414px){
    #header{
        
        width: 100%;
        height: 60px;
        
        z-index: 100;
    }

    .tlogo{
        height: 60px;
        position: absolute;
    }
    .nav-list{

    }

    .nav{
        float: none;
        position: fixed;
        margin: 0;
        height: 480px;
        width: 250px;
        background-color: white;
        right: -250px;
        top: 62px;
        
    }

    .nav li{
        width: 100%;
        box-sizing: border-box;
        border-top: 1px solid lightgray;
       
    }

    
    .nav-list .fa{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 60px;
        width: 60px;
        line-height: 60px;
        text-align: center;
        
    }
    .dateinfo{
        flex-wrap: wrap;
    }
    .infodetail{
        width: 250px;
        margin-top: 5px;
    }
   
}
