@import url(reset.css);
@import url(common.css);
body{
    
}
/* top-main */
.top-main{
    padding-top: 80px;
    width: 100%;
    height: 100vh;
    
    background-image: url(../img/service/Rectangle\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    opacity: 80%;
}
.tpcontent{
    
    text-align: center;
    position: absolute;
    z-index: 5;
    right: 200px;
    top: 350px;
   
}

.tpcontent h1{
    /* opacity: 100%; */
    font-weight: bolder;

}

.tpcontent h3{
    margin-top: 100px;
    font-weight: bold;
}


/* mid banner */
.midbanner{
    background-color: #FFF4D8;
    margin-top: 5px;
    /* border: 5px solid white; */
    border-top: 5px solid #777777;
    height: 500px;
}

.midbanner>div{
    
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    /* border: 5px solid white; */
    width: 1280px;
    margin: auto;
    /* border-left: 2px solid gray;
    border-right: 2px solid gray; */
    
}
.midbanner h2{
    display: block;
    width: 380px;
    padding-top: 150px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    /* background-color: red; */
    text-align: center;
    font-weight: bold;
    color: #48684e;
}

.midbanner img{
    width: 200px;
    height: 200px;
    margin: 30px 30px;
}

.img-a{

}
.img-b{
    
    padding-top: 100px;
}     

.img-c{
    padding-top: 200px;
}

.img-d{
    padding-top: 100px;
}

/* block */
.block-out{
    background-color: #f1daa0;
    padding-top: 70px;
    padding-bottom: 90px;
    border-top: 5px solid #777777;
    margin-top: 5px;
    
}
.block{
    background-color: #FFF4D8;
    width: 1280px;
    align-items: center;
    display: flex;
    justify-content: center;
    justify-items:baseline;
    height: 343px;
    margin: auto;
    /* border-radius: 50% 50% 50% 50%; */

}

.block>div{
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
}

.block-out img{
    width: 500px;
    height: 333px;
    scale: 1.1;
}

.block img{
    rotate: -10deg;
    scale: 1.1;
    box-shadow: 3px 3px 3px 3px rgb(83, 80, 80);
    border: 5px solid #b6c0b7;
    

}

.block-out h2{
    color: #48684e;
    font-weight: bold;
    text-shadow: 3px 4px lightgray;
}

.blockright{
    /* background-color: #b6c0b7; */
    
    background-color: #FFF4D8;
    width: 1280px;
    align-items: center;
    display: flex;
    justify-content: center;
    justify-items:baseline;
    margin: auto;
    /* border-radius: 50% 50% 50% 50%; */
}

.blockright img{
    order: 2;
    rotate: 6deg;
    scale: 1.1;
    box-shadow: 3px 3px 3px 3px rgb(83, 80, 80);
    border: 5px solid #b6c0b7;
}

.blockright>div{
    padding-left: 250px;
    padding-right: 50px;
    text-align: center;
}

.block-out>div{
    height: 343px;
}

@media screen and (max-width: 414px){
    #header{
        
        width: 100%;
        height: 60px;
        
        z-index: 100;
    }

    .tlogo{
        height: 60px;
        position: absolute;
    }
    .nav-list{

    }

    .nav{
        float: none;
        position: fixed;
        margin: 0;
        height: 480px;
        width: 250px;
        background-color: white;
        right: -250px;
        top: 62px;
        
    }

    .nav li{
        width: 100%;
        box-sizing: border-box;
        border-top: 1px solid lightgray;
       
    }

    
    .nav-list .fa{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 60px;
        width: 60px;
        line-height: 60px;
        text-align: center;
        
    }
    .top-main{
        width: 100%;
        padding-top: 60px;
        width: 100%;
        height: 400px;
        background-position: center ;
        opacity: 100%;
    }
    
    .tpcontent{
        position:static;
        margin-left: 0;
        width: 60%;
        margin: auto;
        margin-top: 150px;
        margin-right: 50px;
        text-align: center;
    }
    .tpcontent h3{
        margin-top: 20px;
    }

    .midbanner{
        height: 220px;
    }
    .midbanner>div{
        width: 100%;
    }
    .midbanner h2{
        width: auto;
        padding-top:  30px;
    }
    .midbanner img{
        width: 55px;
        height: 55px;
        margin:5px;

    }
    .img-b{
        padding-top: 40px;
    }
    .img-c{
        padding-top: 80px;
    }
    .img-d{
        padding-top: 40px;
    }
    .block-out img{
        width: 100px;
        height: auto;
    }
    .block{
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }
    .blockright{
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }
    .block>div{
        padding: 0;
        padding: 20px;
        width: 200px;
        text-align: left;
    }
    .block>div h2{
        text-align: center;
    }
    .block>div p{
        padding-left: 3px;
    }
    .blockright>div{
        padding: 0;
        text-align: left;
        padding: 20px;
    }
    .blockright>div h2{
        text-align: center;
    }
    .blockright>div p{
        padding-right: 3px;
    }
    .block-out{
        padding: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .block-out>div{
        height: auto;
    }
    .blockright img{
        border: 3px solid #b6c0b7;
    }
    .block img{
        border: 3px solid #b6c0b7;
    }
}

@media screen and (max-width < 414px){
    .midbanner img{
        width: 45px;
        height: 45px;
        margin:5px;

    }
    .img-b{
        padding-top: 30px;
    }
    .img-c{
        padding-top: 60px;
    }
    .img-d{
        padding-top: 30px;
    }
}
